body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

h1 {
  text-align: center;
}

.contacts {
  margin-top: 50px;
  width: 100%;
  display: block;
  border-spacing: 0px;
  border-collapse: collapse;
  text-align: center;
}
.contacts tbody tr:nth-child(odd) {
  background: #d7ecf5;
}

.contacts .picture,
.name {
  width: 100px;
  display: block;
}

.contacts {
  width: 100px;
  display: block;
}

.contacts img {
  width: 100%;
  border-radius: 4px;
}
.contacts td {
  padding: 20px;
}
button {
  padding: 8px 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.tr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.group-buttons {
  width: 125%;
  display: flex;
  justify-content: space-between;
}
